body {
    max-width: 1280px;
    margin: auto;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

@media screen and (max-width: 768px) {
    body {
        max-width: 768px;
    }
}

@media screen and (max-width: 320px) {
    body {
        max-width: 320px;
    }
}
