.nav-tab {
    width: 100%;
    min-height: 66px;
    background-color: black;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.nav-tab__links {
    list-style: none;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; 
    display: flex;
    column-gap: 40px;
    margin: 0;
    padding: 0;
}

.nav-tab__item {
    color: white;
    text-decoration: none;
}

.nav-tab__item:hover {
    text-decoration: underline;
}

@media screen and (max-width: 320px) {
    .nav-tab__links {
        font-size: 11px;
        column-gap: 24px;
    }
    
}
